.form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.input {
  flex-grow: 1;
  padding: 0.8rem;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: rgb(48, 112, 164);
}

.addBtn {
  background-color: rgb(83, 152, 209);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.addBtn:hover {
  background-color: rgb(47, 101, 155);
}