@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
  padding: clamp(30px, 5vw, 73px);
  margin-top: 80px;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: var(--color-text);
  font-size: clamp(28px, 5vw, 35px);
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.content {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 40px;
  align-items: center;
}

.aboutImage {
  width: 100%;
  border-radius: 20px;
}

.aboutItems {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(165, 215, 232, 0.42) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: 25px;
  font-weight: 600;
}

.aboutItem p {
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 60px 20px;
    padding: 30px 20px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .aboutImage {
    display: none;
  }

  .aboutItem {
    padding: 15px;
  }
}
